.credit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    color: #000;
    width: 85%;
    margin: 0 auto;
}

.credit span {
    color: #0090ff;
    text-decoration: none;
}

.credit span:hover {
    text-decoration: underline;
    cursor: pointer;
}
