.link {
    margin-bottom: 1rem;
}

.link__icon {
    width: 16px;
    height: 16px;
    margin-right: 1rem;
}

.link__text {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.link__text:hover {
    text-decoration: underline;
    cursor: pointer;
}
